@model AwesomeBlog.Models.Post

@{
    ViewBag.Title = "Delete";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
}
<header id="header">
    <div style="float:right; margin-top:-31px;">@Html.TextBox("date", DateTime.Now)</div>
  

        <a href="http://localhost:1288/">
    <img src="http://melissacanfield.com/wp-content/uploads/2014/03/home_icon_black_white_line_art_coloring_book_colouring-999px.png" border="0" align="left" height="80" width="80" float:left; />
</a>

<a href="http://localhost:1288/post/Create">
    <img src="http://files.campus.edublogs.org/blog.nus.edu.sg/dist/c/1/thumb/intro_crop.jpg"  align="left" height="80" width="80"  />
</a>
         <br style="clear: right" />
    </header>
    <header id="notHeader">
    </header>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.likes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.likes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.picture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.picture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dislikes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dislikes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.views)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
