@model AwesomeBlog.Models.Post
 
@{
    ViewBag.Title = "Edit";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
     
}
<header id="header">
    <div style="float:right; margin-top:-31px;">@Html.TextBox("date", DateTime.Now)</div>
  

        <a href="http://localhost:1288/">
    <img src="http://melissacanfield.com/wp-content/uploads/2014/03/home_icon_black_white_line_art_coloring_book_colouring-999px.png" border="0" align="left" height="80" width="80" float:left; />
</a>

<a href="http://localhost:1288/post/Create">
    <img src="http://files.campus.edublogs.org/blog.nus.edu.sg/dist/c/1/thumb/intro_crop.jpg"  align="left" height="80" width="80"  />
</a>
         <br style="clear: right" />
    </header>
    <header id="notHeader">
    </header>
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>
        text-align:left;
        @Html.HiddenFor(model => model.PostID)

        <div class="editor-label">
            @Html.LabelFor(model => model.likes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.likes)
            @Html.ValidationMessageFor(model => model.likes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.picture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.picture)
            @Html.ValidationMessageFor(model => model.picture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dislikes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dislikes)
            @Html.ValidationMessageFor(model => model.dislikes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.author)
            @Html.ValidationMessageFor(model => model.author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.views)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.views)
            @Html.ValidationMessageFor(model => model.views)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.body)
        </div>
        <div class="editor-field">
          
              @Html.TextAreaFor(model => model.body, 10, 50, new object { })
            @Html.ValidationMessageFor(model => model.body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
